# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
env/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyLint
.pylint.d/

# Unit test / pytest
.pytest_cache/
tests/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS
