[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
matplotlib = "*"
nbformat = "*"
ipykernel = "*"
ipywidgets = "*"
scikit-learn = "*"
seaborn = "*"
shap = "*"
numpy = "==2.0"
optuna = "*"

[dev-packages]

[requires]
python_version = "3.12"
