[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
matplotlib = "*"
nbformat = "*"
ipykernel = "*"
mlxtend = "*"
ipywidgets = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
