[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
pingouin = "*"
statsmodels = "*"
nbformat = "*"
sweetviz = "*"
setuptools = "*"
ipywidgets = "*"
optuna = "*"
flask = "*"
pydantic = "*"
flask-pydantic = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
